black~=24.10.0
gherkin3==3.1.2
isort~=5.13.2
pylint~=3.3.1
robotframework==4.0.0
requests==2.32.0
response==0.5.0
robotframework-imagecompare==0.2.0
robotframework-jsonlibrary==0.5
robotframework-jsonvalidator==2.0.0
robotframework-pabot==2.18.0
robotframework-requests==1.0a14
robotframework-retryfailed==0.2.0
robotframework-robocop==5.5.0
robotframework-seleniumlibrary~=6.1.0
robotframework-tidy==4.14.0
robotframework==7.1.1
deepdiff~=8.0.1
jsondiff~=2.2.1
h11~=0.14.0
pbr~=6.1.0
six~=1.16.0
numpy~=2.1.3
pillow~=11.0.0
pip~=24.3.1
attrs~=24.2.0
PySocks~=1.7.1
cffi~=1.17.1
dill~=0.3.9
pytz~=2024.2
rich~=13.9.4
Pygments~=2.18.0
markdown-it-py~=3.0.0
typing_extensions~=4.12.2
trio~=0.27.0
outcome~=1.3.0.post0
sniffio~=1.3.1
sortedcontainers~=2.4.0
idna~=3.10
PyYAML~=6.0.2
platformdirs~=4.3.6
colorama~=0.4.6
mypy-extensions~=1.0.0
packaging~=24.2
pathspec~=0.12.1
click~=8.1.7
tomli~=2.0.2
mdurl~=0.1.2
charset-normalizer~=3.4.0
natsort~=8.4.0
scipy~=1.14.1
matplotlib~=3.9.2
MarkupSafe~=3.0.2
astroid~=3.3.5
tomlkit~=0.13.2
mccabe~=0.7.0
certifi~=2024.8.30
Jinja2~=3.1.4
urllib3~=2.2.3
python-dateutil~=2.9.0.post0
rich-click~=1.8.3
selenium~=4.27.1
trio-websocket~=0.11.1
websocket-client~=1.8.0
contourpy~=1.3.1
fonttools~=4.55.0
ply~=3.11
pycparser~=2.22
pyparsing~=3.2.0
referencing~=0.35.1
jsonschema~=4.23.0
jsonschema-specifications~=2024.10.1
pyjsonselect~=0.2.2
cycler~=0.12.1
kiwisolver~=1.4.7
objectpath~=0.6.1
jsonpath-ng~=1.7.0
jsonpath-rw~=1.4.0
wsproto~=1.2.0
jsonpath-rw-ext~=1.2.2
robotframework-pythonlibcore~=4.4.1